/*Definindo navbar */
header {
    background-color: rgb(109, 53, 53);
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0 0;
    z-index: 1000;
    position: sticky;
}

nav {
    padding: 1rem;
}

#nav_logo {
    color: white;
    font-weight: bold;
    width: 100%;
    align-items: center;
    padding: 1rem;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0; 
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0.5rem 1rem;
    font-family: sans-serif;
}

nav ul li a:hover {
    background-color: #9c1e1e59;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}