/* Slider CSS */
.slider {
	margin: 0 auto;
	width: 800px;
	height: 400px;
	overflow: hidden;
} 

/* Container dos slides */
.slides {
	width: 400%;
	height: 400px;
	display: flex;
}

/* Esconder os radio buttons */
.slides input {
	display: none;
}

/* Cada slide */
.slide {
	width: 25%;
	position: relative;
	transition: 2s;
}

/* Imagem do slide */
.slide img {
	width: 100%;
}

/* Navegação manual */
.manual-navigation {
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

/* Botões de navegação manual */
.manual-btn {
	border: 2px solid #ffffff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
}

/* Espaçamento entre os botões */
.manual-btn:not(:last-child) {
	margin-right: 40px;
}

/* Deixar os inputs brancos ao mover*/
.manual-btn:hover {
	background: #ffffff;
}

/* Movimento dos slides */
#radio1:checked ~ .first {
	margin-left: 0;
}
#radio2:checked ~ .first {
	margin-left: -25%;
}
#radio3:checked ~ .first {
	margin-left: -50%;
}

/* Navegação automática */
.navigation-auto {
	position: absolute;
	display: flex;
	width: 800px;
	justify-content: center;
	margin-top: 360px;
}

/* Botões de navegação automática */
.navigation-auto div{
	border: 2px solid #ffffff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
}

/* Espaçamento entre os botões */
.navigation-auto div:not(:last-child) {
	margin-right: 40px;
}

/* Deixar os inputs brancos ao mover*/
#radio1:checked ~ .navigation-auto .auto-btn1 {
	background: #ffffff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
	background: #ffffff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
	background: #ffffff;
}